	<script src="{{app.request.basepath}}/src/js/libs/jquery-2.2.0.js"></script>
	<script src="{{app.request.basepath}}/src/js/libs/bootstrap.min.js"></script>
	<script src="{{app.request.basepath}}/src/js/app/script.js"></script>
	<script src="{{app.request.basepath}}/src/js/app/{{js_file_name}}.js"></script>
	<script>
	$(".dropdown-button").dropdown({hover: false});
	</script>
</body>
</html>